*.mo
source/comInterfaces/*.py
*.log
source/userConfig
build
build_debug
dist
*.dll
*.exe
*.manifest
source/synthDrivers/espeak-data
source/lib
source/lib64
source/typelibs
source/images
source/louis
source/waves
*.obj
*.exp
*.lib
*_I.c
*_P.c
*_C.c
*_S.c
dlldata.c
*.pdb
.sconsign.dblite
user_docs/*/*.html
extras/controllerClient/x86/nvdaController.h
extras/controllerClient/x64
source/_buildVersion.py
user_docs/*/keyCommands.t2t
output
source/brailleDisplayDrivers/handyTech
./developerGuide.html
user_docs/build.t2tConf
launcher/nvda_logo.wav
uninstaller/UAC.nsh
*.pyc
*.pyo
*.dmp
_*.cmd
__*.txt
source/brlapi.pyd
source/configobj.py
source/validate.py
txt2tags.py
translating.t2t
installer
jptools/__*
_lv
tools/*
source/synthDrivers/jtalk/*.txt
source/synthDrivers/jtalk/dic
source/synthDrivers/jtalk/m001
source/synthDrivers/jtalk/mecabrc
source/synthDrivers/jtalk/mei_normal
source/synthDrivers/jtalk/voice
source/synthDrivers/jtalk/*.py
source/synthDrivers/nvdajp_jtalk.py
jptools/harness.py
jptools/jpBrailleRunner.py
jptools/jtalk*.py
jptools/make_html.cmd
*~
*.nvda-addon
nvdaHelper/docs
