*.pyc
*.obj
jptools/__*.txt
jptools/jtusr.dic
jptools/jtalkRunner.py
source/synthDrivers/jtalk/dic/DIC_VERSION
source/synthDrivers/jtalk/dic/sys.dic
source/synthDrivers/jtalk/dic/unk.dic
source/synthDrivers/jtalk/libopenjtalk.dll
source/synthDrivers/jtalk/jtalkCore.py
source/synthDrivers/jtalk/mecab.py
source/synthDrivers/jtalk/text2mecab.py
__*.txt
.venv
!jptools/jtusrdic/mecab-dict-index.exe
