[submodule "include/python-jtalk"]
	path = include/python-jtalk
	url = https://github.com/nvdajp/python-jtalk.git
[submodule "include/libkuraji"]
	path = include/libkuraji
	url = https://github.com/nishimotz/libkuraji.git
[submodule "include/libopenjtalk"]
	path = include/libopenjtalk
	url = https://github.com/nishimotz/libopenjtalk.git
[submodule "include/htsengineapi"]
	path = include/htsengineapi
	url = https://github.com/nishimotz/htsengineapi.git
