dic
lite
m001
mei
*~
lib/*.lib
lib/*.dll
lib/*.exp
lib/*.obj
lib/libopenjtalk-timestamp.h
lib/*.c.orig
libopenjtalk.dll
*.pyc
*.jtlog
*.wav
venv37
htsengineapi/AUTHORS
htsengineapi/COPYING
htsengineapi/ChangeLog
htsengineapi/INSTALL
htsengineapi/Makefile.am
htsengineapi/Makefile.in
htsengineapi/Makefile.mak
htsengineapi/NEWS
htsengineapi/README
htsengineapi/aclocal.m4
htsengineapi/bin/
htsengineapi/config/
htsengineapi/configure
htsengineapi/configure.ac
htsengineapi/include/
htsengineapi/lib/
libopenjtalk/AUTHORS
libopenjtalk/COPYING
libopenjtalk/ChangeLog
libopenjtalk/INSTALL
libopenjtalk/Makefile.am
libopenjtalk/Makefile.in
libopenjtalk/Makefile.mak
libopenjtalk/NEWS
libopenjtalk/README
libopenjtalk/aclocal.m4
libopenjtalk/bin/
libopenjtalk/config/
libopenjtalk/configure
libopenjtalk/configure.ac
libopenjtalk/jpcommon/
libopenjtalk/mecab-naist-jdic/
libopenjtalk/mecab/
libopenjtalk/mecab2njd/
libopenjtalk/njd/
libopenjtalk/njd2jpcommon/
libopenjtalk/njd_set_accent_phrase/
libopenjtalk/njd_set_accent_type/
libopenjtalk/njd_set_digit/
libopenjtalk/njd_set_long_vowel/
libopenjtalk/njd_set_pronunciation/
libopenjtalk/njd_set_unvoiced_vowel/
libopenjtalk/text2mecab/